<%- include("header") -%>

<h2>This the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga commodi consectetur inventore nulla doloribus voluptates quod pariatur, delectus ducimus accusamus!</p>

<%- include("footer") -%>